In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import math
import datetime as dt
import tqdm

In [2]:
df = pd.read_csv("D:/NLP/Volatility/Data/SP500/all_stocks_5yr.csv")
df.head()
# df.tail()

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

In [3]:
# Get the list of company names
list_comp = df['Name'].unique()
num_comp = list_comp.shape[0]
print (num_comp, type(list_comp))
list_comp

505 <class 'numpy.ndarray'>

array(['AAL', 'AAPL', 'AAP', 'ABBV', 'ABC', 'ABT', 'ACN', 'ADBE', 'ADI',
       'ADM', 'ADP', 'ADSK', 'ADS', 'AEE', 'AEP', 'AES', 'AET', 'AFL',
       'AGN', 'AIG', 'AIV', 'AIZ', 'AJG', 'AKAM', 'ALB', 'ALGN', 'ALK',
       'ALLE', 'ALL', 'ALXN', 'AMAT', 'AMD', 'AME', 'AMGN', 'AMG', 'AMP',
       'AMT', 'AMZN', 'ANDV', 'ANSS', 'ANTM', 'AON', 'AOS', 'APA', 'APC',
       'APD', 'APH', 'APTV', 'ARE', 'ARNC', 'ATVI', 'AVB', 'AVGO', 'AVY',
       'AWK', 'AXP', 'AYI', 'AZO', 'A', 'BAC', 'BAX', 'BA', 'BBT', 'BBY',
       'BDX', 'BEN', 'BF.B', 'BHF', 'BHGE', 'BIIB', 'BK', 'BLK', 'BLL',
       'BMY', 'BRK.B', 'BSX', 'BWA', 'BXP', 'CAG', 'CAH', 'CAT', 'CA',
       'CBG', 'CBOE', 'CBS', 'CB', 'CCI', 'CCL', 'CDNS', 'CELG', 'CERN',
       'CFG', 'CF', 'CHD', 'CHK', 'CHRW', 'CHTR', 'CINF', 'CI', 'CLX',
       'CL', 'CMA', 'CMCSA', 'CME', 'CMG', 'CMI', 'CMS', 'CNC', 'CNP',
       'COF', 'COG', 'COL', 'COO', 'COP', 'COST', 'COTY', 'CPB', 'CRM',
       'CSCO', 'CSRA', 'CSX', 'CTAS', 'CTL', 'CTSH', 'CTXS', 'CVS', 'CVX',
       'CXO', 'C', 'DAL', 'DE', 'DFS', 'DGX', 'DG', 'DHI', 'DHR', 'DISCA',
       'DISCK', 'DISH', 'DIS', 'DLR', 'DLTR', 'DOV', 'DPS', 'DRE', 'DRI',
       'DTE', 'DUK', 'DVA', 'DVN', 'DWDP', 'DXC', 'D', 'EA', 'EBAY',
       'ECL', 'ED', 'EFX', 'EIX', 'EL', 'EMN', 'EMR', 'EOG', 'EQIX',
       'EQR', 'EQT', 'ESRX', 'ESS', 'ES', 'ETFC', 'ETN', 'ETR', 'EVHC',
       'EW', 'EXC', 'EXPD', 'EXPE', 'EXR', 'FAST', 'FBHS', 'FB', 'FCX',
       'FDX', 'FE', 'FFIV', 'FISV', 'FIS', 'FITB', 'FLIR', 'FLR', 'FLS',
       'FL', 'FMC', 'FOXA', 'FOX', 'FRT', 'FTI', 'FTV', 'F', 'GD', 'GE',
       'GGP', 'GILD', 'GIS', 'GLW', 'GM', 'GOOGL', 'GOOG', 'GPC', 'GPN',
       'GPS', 'GRMN', 'GS', 'GT', 'GWW', 'HAL', 'HAS', 'HBAN', 'HBI',
       'HCA', 'HCN', 'HCP', 'HD', 'HES', 'HIG', 'HII', 'HLT', 'HOG',
       'HOLX', 'HON', 'HPE', 'HPQ', 'HP', 'HRB', 'HRL', 'HRS', 'HSIC',
       'HST', 'HSY', 'HUM', 'IBM', 'ICE', 'IDXX', 'IFF', 'ILMN', 'INCY',
       'INFO', 'INTC', 'INTU', 'IPG', 'IP', 'IQV', 'IRM', 'IR', 'ISRG',
       'ITW', 'IT', 'IVZ', 'JBHT', 'JCI', 'JEC', 'JNJ', 'JNPR', 'JPM',
       'JWN', 'KEY', 'KHC', 'KIM', 'KLAC', 'KMB', 'KMI', 'KMX', 'KORS',
       'KO', 'KR', 'KSS', 'KSU', 'K', 'LB', 'LEG', 'LEN', 'LH', 'LKQ',
       'LLL', 'LLY', 'LMT', 'LNC', 'LNT', 'LOW', 'LRCX', 'LUK', 'LUV',
       'LYB', 'L', 'MAA', 'MAC', 'MAR', 'MAS', 'MAT', 'MA', 'MCD', 'MCHP',
       'MCK', 'MCO', 'MDLZ', 'MDT', 'MET', 'MGM', 'MHK', 'MKC', 'MLM',
       'MMC', 'MMM', 'MNST', 'MON', 'MOS', 'MO', 'MPC', 'MRK', 'MRO',
       'MSFT', 'MSI', 'MS', 'MTB', 'MTD', 'MU', 'MYL', 'M', 'NAVI', 'NBL',
       'NCLH', 'NDAQ', 'NEE', 'NEM', 'NFLX', 'NFX', 'NI', 'NKE', 'NLSN',
       'NOC', 'NOV', 'NRG', 'NSC', 'NTAP', 'NTRS', 'NUE', 'NVDA', 'NWL',
       'NWSA', 'NWS', 'OKE', 'OMC', 'ORCL', 'ORLY', 'OXY', 'O', 'PAYX',
       'PBCT', 'PCAR', 'PCG', 'PCLN', 'PDCO', 'PEG', 'PEP', 'PFE', 'PFG',
       'PGR', 'PG', 'PHM', 'PH', 'PKG', 'PKI', 'PLD', 'PM', 'PNC', 'PNR',
       'PNW', 'PPG', 'PPL', 'PRGO', 'PRU', 'PSA', 'PSX', 'PVH', 'PWR',
       'PXD', 'PX', 'PYPL', 'QCOM', 'QRVO', 'RCL', 'REGN', 'REG', 'RE',
       'RF', 'RHI', 'RHT', 'RJF', 'RL', 'RMD', 'ROK', 'ROP', 'ROST',
       'RRC', 'RSG', 'RTN', 'SBAC', 'SBUX', 'SCG', 'SCHW', 'SEE', 'SHW',
       'SIG', 'SJM', 'SLB', 'SLG', 'SNA', 'SNI', 'SNPS', 'SO', 'SPGI',
       'SPG', 'SRCL', 'SRE', 'STI', 'STT', 'STX', 'STZ', 'SWKS', 'SWK',
       'SYF', 'SYK', 'SYMC', 'SYY', 'TAP', 'TDG', 'TEL', 'TGT', 'TIF',
       'TJX', 'TMK', 'TMO', 'TPR', 'TRIP', 'TROW', 'TRV', 'TSCO', 'TSN',
       'TSS', 'TWX', 'TXN', 'TXT', 'T', 'UAA', 'UAL', 'UA', 'UDR', 'UHS',
       'ULTA', 'UNH', 'UNM', 'UNP', 'UPS', 'URI', 'USB', 'UTX', 'VAR',
       'VFC', 'VIAB', 'VLO', 'VMC', 'VNO', 'VRSK', 'VRSN', 'VRTX', 'VTR',
       'VZ', 'V', 'WAT', 'WBA', 'WDC', 'WEC', 'WFC', 'WHR', 'WLTW', 'WMB',
       'WMT', 'WM', 'WRK', 'WU', 'WYNN', 'WYN', 'WY', 'XEC', 'XEL',
       'XLNX', 'XL', 'XOM', 'XRAY', 'XRX', 'XYL', 'YUM', 'ZBH', 'ZION',
       'ZTS'], dtype=object)

In [4]:
mask = df['Name'] == 'AAL'
df[mask]
df.loc[df['Name'] == "AAL"]
df['date'] = pd.to_datetime(df.date, format='%Y-%m-%d')
# Extract all data from year 2017
mask = df['date'].dt.year == int(2017)
include = df[mask]
exclude = df[~mask]
df_17 = df[mask]
df_17

             date   open    high     low  close   volume Name
982    2017-01-03  47.28  47.340  46.135  46.30  6737752  AAL
983    2017-01-04  46.63  47.435  46.350  46.70  5859604  AAL
984    2017-01-05  46.52  46.930  45.610  45.89  6825316  AAL
985    2017-01-06  45.85  46.720  45.470  46.21  7260197  AAL
986    2017-01-09  46.01  47.340  45.780  47.08  4739142  AAL
...           ...    ...     ...     ...    ...      ...  ...
619009 2017-12-22  72.30  72.370  71.790  71.99  1345683  ZTS
619010 2017-12-26  72.40  72.550  71.900  72.34   792134  ZTS
619011 2017-12-27  72.59  72.690  72.250  72.45  1159771  ZTS
619012 2017-12-28  72.49  72.600  72.140  72.39   710499  ZTS
619013 2017-12-29  72.55  72.760  72.040  72.04  1704122  ZTS

[126032 rows x 7 columns]

In [5]:
start_date = df_17.iloc[0].date
end_date = df_17.iloc[-1].date
print (start_date, end_date)

2017-01-03 00:00:00 2017-12-29 00:00:00

In [6]:
lastdayfrom = pd.to_datetime('2017-01-03')
lastdayfrom

Timestamp('2017-01-03 00:00:00')

In [7]:
tau = 3 # This is a variable. Values to be used are 3, 7, 15, and 30

# Create a mask for a specific stock
mask_stock = df['Name'] == 'AAL'
df_stock = df[mask_stock]
# Go back 50 calendar days to include more than 30 trading sessions
df_adj = df_stock[df_stock["date"] >= (pd.to_datetime('2017-01-03') - pd.Timedelta(days=50))]
df_adj.head(10)

          date   open    high    low  close    volume Name
949 2016-11-14  43.01  43.610  42.98  43.40   7773627  AAL
950 2016-11-15  45.00  45.280  43.59  44.76  13166625  AAL
951 2016-11-16  44.66  44.795  43.93  44.45   6166966  AAL
952 2016-11-17  44.39  45.850  44.05  45.83   8558682  AAL
953 2016-11-18  46.15  46.490  45.62  46.26   7795053  AAL
954 2016-11-21  46.46  46.750  45.95  46.08   6651810  AAL
955 2016-11-22  46.03  46.950  45.95  46.08   5781259  AAL
956 2016-11-23  46.05  46.390  45.70  46.34   5160176  AAL
957 2016-11-25  46.34  46.860  46.30  46.82   2426632  AAL
958 2016-11-28  46.64  46.885  45.66  46.50   7369639  AAL

In [8]:
# Reindex for better data access
df_adj.index = np.arange(1, len(df_adj) + 1)
df_adj.head()

        date   open    high    low  close    volume Name
1 2016-11-14  43.01  43.610  42.98  43.40   7773627  AAL
2 2016-11-15  45.00  45.280  43.59  44.76  13166625  AAL
3 2016-11-16  44.66  44.795  43.93  44.45   6166966  AAL
4 2016-11-17  44.39  45.850  44.05  45.83   8558682  AAL
5 2016-11-18  46.15  46.490  45.62  46.26   7795053  AAL

In [9]:
# Calculate starting index of starting and end dates
start_idx = int(df_adj.index[df_adj['date'] == start_date][0])
end_idx = int(df_adj.index[df_adj['date'] == end_date][0])
print (start_idx, end_idx)

34 284

In [10]:
Pt = df_adj.loc[start_idx]['close'] 
Pt_minus1 = df_adj.loc[(start_idx-1)]['close'] 
print(Pt , Pt_minus1)

46.3 46.69

In [11]:
def get_volatility(df_adjusted, time, index):
    mean_return_price = get_mean_return_price(df_adjusted, index, time)
    sqr_sum = 0
    for i in range(time + 1):
        Pt = df_adjusted.loc[index]['close']
        Pt_minus1 = df_adjusted.loc[(index - 1)]['close'] 
        return_price = get_return_price(Pt, Pt_minus1)
        temp_sqr_sum = np.square(return_price - mean_return_price)
        sqr_sum = sqr_sum + temp_sqr_sum
    volatility = np.log(np.sqrt(sqr_sum/time))
    return volatility

In [12]:
def get_return_price(close_price, close_price_minus1):
    return_price = (close_price/close_price_minus1) - 1
    return return_price

In [13]:
def get_mean_return_price(df, idx, time):
    mean_return_price = np.mean(df['close'].loc[range(idx,idx - time - 1,-1)])
    return mean_return_price

In [14]:
# Retrieve stock specific DataFrame based on stock name
def get_stock_specific_df(df, stock_symbol):
    df_copy = df.copy()
    mask_stock = df_copy['Name'] == stock_symbol
    df_stock = df_copy[mask_stock]
    # Go back 50 calendar days to include more than 30 trading sessions
    df_stock = df_stock[df_stock["date"] >= (pd.to_datetime('2017-01-03') - pd.Timedelta(days=50))]
    df_stock.index = np.arange(1, len(df_stock) + 1)
    return df_stock

In [15]:
# Test Block to verify indices
np.sum(df_adj.loc[range(start_idx, start_idx - tau -1, -1)]['close'])

187.91000000000003

In [16]:
# Drop company names whose full year data is not available
# Indices to drop: 47, 
list_comp = df['Name'].unique()
drop_index = [47, 67, 68, 150, 151,226]
list_comp_new = np.delete(list_comp, drop_index)

# print(list_comp) 
print(np.setdiff1d(list_comp, list_comp_new))
print(list_comp[226])

['APTV' 'BHF' 'BHGE' 'DWDP' 'DXC' 'HLT']
HLT

In [17]:
# Create empty dataframe to store volatility values
df_volatility = pd.DataFrame(columns=['stock', 'date', 'close', 'vol3', 'vol7', 'vol15', 'vol30'])
print(list_comp_new)

['AAL' 'AAPL' 'AAP' 'ABBV' 'ABC' 'ABT' 'ACN' 'ADBE' 'ADI' 'ADM' 'ADP'
 'ADSK' 'ADS' 'AEE' 'AEP' 'AES' 'AET' 'AFL' 'AGN' 'AIG' 'AIV' 'AIZ' 'AJG'
 'AKAM' 'ALB' 'ALGN' 'ALK' 'ALLE' 'ALL' 'ALXN' 'AMAT' 'AMD' 'AME' 'AMGN'
 'AMG' 'AMP' 'AMT' 'AMZN' 'ANDV' 'ANSS' 'ANTM' 'AON' 'AOS' 'APA' 'APC'
 'APD' 'APH' 'ARE' 'ARNC' 'ATVI' 'AVB' 'AVGO' 'AVY' 'AWK' 'AXP' 'AYI'
 'AZO' 'A' 'BAC' 'BAX' 'BA' 'BBT' 'BBY' 'BDX' 'BEN' 'BF.B' 'BIIB' 'BK'
 'BLK' 'BLL' 'BMY' 'BRK.B' 'BSX' 'BWA' 'BXP' 'CAG' 'CAH' 'CAT' 'CA' 'CBG'
 'CBOE' 'CBS' 'CB' 'CCI' 'CCL' 'CDNS' 'CELG' 'CERN' 'CFG' 'CF' 'CHD' 'CHK'
 'CHRW' 'CHTR' 'CINF' 'CI' 'CLX' 'CL' 'CMA' 'CMCSA' 'CME' 'CMG' 'CMI'
 'CMS' 'CNC' 'CNP' 'COF' 'COG' 'COL' 'COO' 'COP' 'COST' 'COTY' 'CPB' 'CRM'
 'CSCO' 'CSRA' 'CSX' 'CTAS' 'CTL' 'CTSH' 'CTXS' 'CVS' 'CVX' 'CXO' 'C'
 'DAL' 'DE' 'DFS' 'DGX' 'DG' 'DHI' 'DHR' 'DISCA' 'DISCK' 'DISH' 'DIS'
 'DLR' 'DLTR' 'DOV' 'DPS' 'DRE' 'DRI' 'DTE' 'DUK' 'DVA' 'DVN' 'D' 'EA'
 'EBAY' 'ECL' 'ED' 'EFX' 'EIX' 'EL' 'EMN' 'EMR' 'EOG' 'EQIX' 'EQR' 'EQT'
 'ESRX' 'ESS' 'ES' 'ETFC' 'ETN' 'ETR' 'EVHC' 'EW' 'EXC' 'EXPD' 'EXPE'
 'EXR' 'FAST' 'FBHS' 'FB' 'FCX' 'FDX' 'FE' 'FFIV' 'FISV' 'FIS' 'FITB'
 'FLIR' 'FLR' 'FLS' 'FL' 'FMC' 'FOXA' 'FOX' 'FRT' 'FTI' 'FTV' 'F' 'GD'
 'GE' 'GGP' 'GILD' 'GIS' 'GLW' 'GM' 'GOOGL' 'GOOG' 'GPC' 'GPN' 'GPS'
 'GRMN' 'GS' 'GT' 'GWW' 'HAL' 'HAS' 'HBAN' 'HBI' 'HCA' 'HCN' 'HCP' 'HD'
 'HES' 'HIG' 'HII' 'HOG' 'HOLX' 'HON' 'HPE' 'HPQ' 'HP' 'HRB' 'HRL' 'HRS'
 'HSIC' 'HST' 'HSY' 'HUM' 'IBM' 'ICE' 'IDXX' 'IFF' 'ILMN' 'INCY' 'INFO'
 'INTC' 'INTU' 'IPG' 'IP' 'IQV' 'IRM' 'IR' 'ISRG' 'ITW' 'IT' 'IVZ' 'JBHT'
 'JCI' 'JEC' 'JNJ' 'JNPR' 'JPM' 'JWN' 'KEY' 'KHC' 'KIM' 'KLAC' 'KMB' 'KMI'
 'KMX' 'KORS' 'KO' 'KR' 'KSS' 'KSU' 'K' 'LB' 'LEG' 'LEN' 'LH' 'LKQ' 'LLL'
 'LLY' 'LMT' 'LNC' 'LNT' 'LOW' 'LRCX' 'LUK' 'LUV' 'LYB' 'L' 'MAA' 'MAC'
 'MAR' 'MAS' 'MAT' 'MA' 'MCD' 'MCHP' 'MCK' 'MCO' 'MDLZ' 'MDT' 'MET' 'MGM'
 'MHK' 'MKC' 'MLM' 'MMC' 'MMM' 'MNST' 'MON' 'MOS' 'MO' 'MPC' 'MRK' 'MRO'
 'MSFT' 'MSI' 'MS' 'MTB' 'MTD' 'MU' 'MYL' 'M' 'NAVI' 'NBL' 'NCLH' 'NDAQ'
 'NEE' 'NEM' 'NFLX' 'NFX' 'NI' 'NKE' 'NLSN' 'NOC' 'NOV' 'NRG' 'NSC' 'NTAP'
 'NTRS' 'NUE' 'NVDA' 'NWL' 'NWSA' 'NWS' 'OKE' 'OMC' 'ORCL' 'ORLY' 'OXY'
 'O' 'PAYX' 'PBCT' 'PCAR' 'PCG' 'PCLN' 'PDCO' 'PEG' 'PEP' 'PFE' 'PFG'
 'PGR' 'PG' 'PHM' 'PH' 'PKG' 'PKI' 'PLD' 'PM' 'PNC' 'PNR' 'PNW' 'PPG'
 'PPL' 'PRGO' 'PRU' 'PSA' 'PSX' 'PVH' 'PWR' 'PXD' 'PX' 'PYPL' 'QCOM'
 'QRVO' 'RCL' 'REGN' 'REG' 'RE' 'RF' 'RHI' 'RHT' 'RJF' 'RL' 'RMD' 'ROK'
 'ROP' 'ROST' 'RRC' 'RSG' 'RTN' 'SBAC' 'SBUX' 'SCG' 'SCHW' 'SEE' 'SHW'
 'SIG' 'SJM' 'SLB' 'SLG' 'SNA' 'SNI' 'SNPS' 'SO' 'SPGI' 'SPG' 'SRCL' 'SRE'
 'STI' 'STT' 'STX' 'STZ' 'SWKS' 'SWK' 'SYF' 'SYK' 'SYMC' 'SYY' 'TAP' 'TDG'
 'TEL' 'TGT' 'TIF' 'TJX' 'TMK' 'TMO' 'TPR' 'TRIP' 'TROW' 'TRV' 'TSCO'
 'TSN' 'TSS' 'TWX' 'TXN' 'TXT' 'T' 'UAA' 'UAL' 'UA' 'UDR' 'UHS' 'ULTA'
 'UNH' 'UNM' 'UNP' 'UPS' 'URI' 'USB' 'UTX' 'VAR' 'VFC' 'VIAB' 'VLO' 'VMC'
 'VNO' 'VRSK' 'VRSN' 'VRTX' 'VTR' 'VZ' 'V' 'WAT' 'WBA' 'WDC' 'WEC' 'WFC'
 'WHR' 'WLTW' 'WMB' 'WMT' 'WM' 'WRK' 'WU' 'WYNN' 'WYN' 'WY' 'XEC' 'XEL'
 'XLNX' 'XL' 'XOM' 'XRAY' 'XRX' 'XYL' 'YUM' 'ZBH' 'ZION' 'ZTS']

In [18]:
# Main function to calculate all period volatility for all stocks
for idx, name in enumerate(list_comp_new):
    print (" processing ", idx+1, " of: ", len(list_comp_new),  name)
    df_stock = get_stock_specific_df(df, name)
    for i in range (start_idx, end_idx+1):
        date = df_stock.loc[i]['date']
        close = df_stock.loc[i]['close']
        volatility_3 = get_volatility(df_stock, 3, i)
        volatility_7 = get_volatility(df_stock, 7, i)
        volatility_15 = get_volatility(df_stock, 15, i)
        volatility_30 = get_volatility(df_stock, 30, i)
        df_volatility = pd.concat([pd.DataFrame([[name,date,close,volatility_3,volatility_7,volatility_15,volatility_30]],
                               columns=df_volatility.columns), df_volatility], ignore_index=False)

 processing  1  of:  499 AAL
 processing  2  of:  499 AAPL
 processing  3  of:  499 AAP
 processing  4  of:  499 ABBV
 processing  5  of:  499 ABC
 processing  6  of:  499 ABT
 processing  7  of:  499 ACN
 processing  8  of:  499 ADBE
 processing  9  of:  499 ADI
 processing  10  of:  499 ADM
 processing  11  of:  499 ADP
 processing  12  of:  499 ADSK
 processing  13  of:  499 ADS
 processing  14  of:  499 AEE
 processing  15  of:  499 AEP
 processing  16  of:  499 AES
 processing  17  of:  499 AET
 processing  18  of:  499 AFL
 processing  19  of:  499 AGN
 processing  20  of:  499 AIG
 processing  21  of:  499 AIV
 processing  22  of:  499 AIZ
 processing  23  of:  499 AJG
 processing  24  of:  499 AKAM
 processing  25  of:  499 ALB
 processing  26  of:  499 ALGN
 processing  27  of:  499 ALK
 processing  28  of:  499 ALLE
 processing  29  of:  499 ALL
 processing  30  of:  499 ALXN
 processing  31  of:  499 AMAT
 processing  32  of:  499 AMD
 processing  33  of:  499 AME
 processing  34  of:  499 AMGN
 processing  35  of:  499 AMG
 processing  36  of:  499 AMP
 processing  37  of:  499 AMT
 processing  38  of:  499 AMZN
 processing  39  of:  499 ANDV
 processing  40  of:  499 ANSS
 processing  41  of:  499 ANTM
 processing  42  of:  499 AON
 processing  43  of:  499 AOS
 processing  44  of:  499 APA
 processing  45  of:  499 APC
 processing  46  of:  499 APD
 processing  47  of:  499 APH
 processing  48  of:  499 ARE
 processing  49  of:  499 ARNC
 processing  50  of:  499 ATVI
 processing  51  of:  499 AVB
 processing  52  of:  499 AVGO
 processing  53  of:  499 AVY
 processing  54  of:  499 AWK
 processing  55  of:  499 AXP
 processing  56  of:  499 AYI
 processing  57  of:  499 AZO
 processing  58  of:  499 A
 processing  59  of:  499 BAC
 processing  60  of:  499 BAX
 processing  61  of:  499 BA
 processing  62  of:  499 BBT
 processing  63  of:  499 BBY
 processing  64  of:  499 BDX
 processing  65  of:  499 BEN
 processing  66  of:  499 BF.B
 processing  67  of:  499 BIIB
 processing  68  of:  499 BK
 processing  69  of:  499 BLK
 processing  70  of:  499 BLL
 processing  71  of:  499 BMY
 processing  72  of:  499 BRK.B
 processing  73  of:  499 BSX
 processing  74  of:  499 BWA
 processing  75  of:  499 BXP
 processing  76  of:  499 CAG
 processing  77  of:  499 CAH
 processing  78  of:  499 CAT
 processing  79  of:  499 CA
 processing  80  of:  499 CBG
 processing  81  of:  499 CBOE
 processing  82  of:  499 CBS
 processing  83  of:  499 CB
 processing  84  of:  499 CCI
 processing  85  of:  499 CCL
 processing  86  of:  499 CDNS
 processing  87  of:  499 CELG
 processing  88  of:  499 CERN
 processing  89  of:  499 CFG
 processing  90  of:  499 CF
 processing  91  of:  499 CHD
 processing  92  of:  499 CHK
 processing  93  of:  499 CHRW
 processing  94  of:  499 CHTR
 processing  95  of:  499 CINF
 processing  96  of:  499 CI
 processing  97  of:  499 CLX
 processing  98  of:  499 CL
 processing  99  of:  499 CMA
 processing  100  of:  499 CMCSA
 processing  101  of:  499 CME
 processing  102  of:  499 CMG
 processing  103  of:  499 CMI
 processing  104  of:  499 CMS
 processing  105  of:  499 CNC
 processing  106  of:  499 CNP
 processing  107  of:  499 COF
 processing  108  of:  499 COG
 processing  109  of:  499 COL
 processing  110  of:  499 COO
 processing  111  of:  499 COP
 processing  112  of:  499 COST
 processing  113  of:  499 COTY
 processing  114  of:  499 CPB
 processing  115  of:  499 CRM
 processing  116  of:  499 CSCO
 processing  117  of:  499 CSRA
 processing  118  of:  499 CSX
 processing  119  of:  499 CTAS
 processing  120  of:  499 CTL
 processing  121  of:  499 CTSH
 processing  122  of:  499 CTXS
 processing  123  of:  499 CVS
 processing  124  of:  499 CVX
 processing  125  of:  499 CXO
 processing  126  of:  499 C
 processing  127  of:  499 DAL
 processing  128  of:  499 DE
 processing  129  of:  499 DFS
 processing  130  of:  499 DGX
 processing  131  of:  499 DG
 processing  132  of:  499 DHI
 processing  133  of:  499 DHR
 processing  134  of:  499 DISCA
 processing  135  of:  499 DISCK
 processing  136  of:  499 DISH
 processing  137  of:  499 DIS
 processing  138  of:  499 DLR
 processing  139  of:  499 DLTR
 processing  140  of:  499 DOV
 processing  141  of:  499 DPS
 processing  142  of:  499 DRE
 processing  143  of:  499 DRI
 processing  144  of:  499 DTE
 processing  145  of:  499 DUK
 processing  146  of:  499 DVA
 processing  147  of:  499 DVN
 processing  148  of:  499 D
 processing  149  of:  499 EA
 processing  150  of:  499 EBAY
 processing  151  of:  499 ECL
 processing  152  of:  499 ED
 processing  153  of:  499 EFX
 processing  154  of:  499 EIX
 processing  155  of:  499 EL
 processing  156  of:  499 EMN
 processing  157  of:  499 EMR
 processing  158  of:  499 EOG
 processing  159  of:  499 EQIX
 processing  160  of:  499 EQR
 processing  161  of:  499 EQT
 processing  162  of:  499 ESRX
 processing  163  of:  499 ESS
 processing  164  of:  499 ES
 processing  165  of:  499 ETFC
 processing  166  of:  499 ETN
 processing  167  of:  499 ETR
 processing  168  of:  499 EVHC
 processing  169  of:  499 EW
 processing  170  of:  499 EXC
 processing  171  of:  499 EXPD
 processing  172  of:  499 EXPE
 processing  173  of:  499 EXR
 processing  174  of:  499 FAST
 processing  175  of:  499 FBHS
 processing  176  of:  499 FB
 processing  177  of:  499 FCX
 processing  178  of:  499 FDX
 processing  179  of:  499 FE
 processing  180  of:  499 FFIV
 processing  181  of:  499 FISV
 processing  182  of:  499 FIS
 processing  183  of:  499 FITB
 processing  184  of:  499 FLIR
 processing  185  of:  499 FLR
 processing  186  of:  499 FLS
 processing  187  of:  499 FL
 processing  188  of:  499 FMC
 processing  189  of:  499 FOXA
 processing  190  of:  499 FOX
 processing  191  of:  499 FRT
 processing  192  of:  499 FTI
 processing  193  of:  499 FTV
 processing  194  of:  499 F
 processing  195  of:  499 GD
 processing  196  of:  499 GE
 processing  197  of:  499 GGP
 processing  198  of:  499 GILD
 processing  199  of:  499 GIS
 processing  200  of:  499 GLW
 processing  201  of:  499 GM
 processing  202  of:  499 GOOGL
 processing  203  of:  499 GOOG
 processing  204  of:  499 GPC
 processing  205  of:  499 GPN
 processing  206  of:  499 GPS
 processing  207  of:  499 GRMN
 processing  208  of:  499 GS
 processing  209  of:  499 GT
 processing  210  of:  499 GWW
 processing  211  of:  499 HAL
 processing  212  of:  499 HAS
 processing  213  of:  499 HBAN
 processing  214  of:  499 HBI
 processing  215  of:  499 HCA
 processing  216  of:  499 HCN
 processing  217  of:  499 HCP
 processing  218  of:  499 HD
 processing  219  of:  499 HES
 processing  220  of:  499 HIG
 processing  221  of:  499 HII
 processing  222  of:  499 HOG
 processing  223  of:  499 HOLX
 processing  224  of:  499 HON
 processing  225  of:  499 HPE
 processing  226  of:  499 HPQ
 processing  227  of:  499 HP
 processing  228  of:  499 HRB
 processing  229  of:  499 HRL
 processing  230  of:  499 HRS
 processing  231  of:  499 HSIC
 processing  232  of:  499 HST
 processing  233  of:  499 HSY
 processing  234  of:  499 HUM
 processing  235  of:  499 IBM
 processing  236  of:  499 ICE
 processing  237  of:  499 IDXX
 processing  238  of:  499 IFF
 processing  239  of:  499 ILMN
 processing  240  of:  499 INCY
 processing  241  of:  499 INFO
 processing  242  of:  499 INTC
 processing  243  of:  499 INTU
 processing  244  of:  499 IPG
 processing  245  of:  499 IP
 processing  246  of:  499 IQV
 processing  247  of:  499 IRM
 processing  248  of:  499 IR
 processing  249  of:  499 ISRG
 processing  250  of:  499 ITW
 processing  251  of:  499 IT
 processing  252  of:  499 IVZ
 processing  253  of:  499 JBHT
 processing  254  of:  499 JCI
 processing  255  of:  499 JEC
 processing  256  of:  499 JNJ
 processing  257  of:  499 JNPR
 processing  258  of:  499 JPM
 processing  259  of:  499 JWN
 processing  260  of:  499 KEY
 processing  261  of:  499 KHC
 processing  262  of:  499 KIM
 processing  263  of:  499 KLAC
 processing  264  of:  499 KMB
 processing  265  of:  499 KMI
 processing  266  of:  499 KMX
 processing  267  of:  499 KORS

 processing  268  of:  499 KO
 processing  269  of:  499 KR
 processing  270  of:  499 KSS
 processing  271  of:  499 KSU
 processing  272  of:  499 K
 processing  273  of:  499 LB
 processing  274  of:  499 LEG
 processing  275  of:  499 LEN
 processing  276  of:  499 LH
 processing  277  of:  499 LKQ
 processing  278  of:  499 LLL
 processing  279  of:  499 LLY
 processing  280  of:  499 LMT
 processing  281  of:  499 LNC
 processing  282  of:  499 LNT
 processing  283  of:  499 LOW
 processing  284  of:  499 LRCX
 processing  285  of:  499 LUK
 processing  286  of:  499 LUV
 processing  287  of:  499 LYB
 processing  288  of:  499 L
 processing  289  of:  499 MAA
 processing  290  of:  499 MAC
 processing  291  of:  499 MAR
 processing  292  of:  499 MAS
 processing  293  of:  499 MAT
 processing  294  of:  499 MA
 processing  295  of:  499 MCD
 processing  296  of:  499 MCHP
 processing  297  of:  499 MCK
 processing  298  of:  499 MCO
 processing  299  of:  499 MDLZ
 processing  300  of:  499 MDT
 processing  301  of:  499 MET
 processing  302  of:  499 MGM
 processing  303  of:  499 MHK
 processing  304  of:  499 MKC
 processing  305  of:  499 MLM
 processing  306  of:  499 MMC
 processing  307  of:  499 MMM
 processing  308  of:  499 MNST
 processing  309  of:  499 MON
 processing  310  of:  499 MOS
 processing  311  of:  499 MO
 processing  312  of:  499 MPC
 processing  313  of:  499 MRK
 processing  314  of:  499 MRO
 processing  315  of:  499 MSFT
 processing  316  of:  499 MSI
 processing  317  of:  499 MS
 processing  318  of:  499 MTB
 processing  319  of:  499 MTD
 processing  320  of:  499 MU
 processing  321  of:  499 MYL
 processing  322  of:  499 M
 processing  323  of:  499 NAVI
 processing  324  of:  499 NBL
 processing  325  of:  499 NCLH
 processing  326  of:  499 NDAQ
 processing  327  of:  499 NEE
 processing  328  of:  499 NEM
 processing  329  of:  499 NFLX
 processing  330  of:  499 NFX
 processing  331  of:  499 NI
 processing  332  of:  499 NKE
 processing  333  of:  499 NLSN
 processing  334  of:  499 NOC
 processing  335  of:  499 NOV
 processing  336  of:  499 NRG
 processing  337  of:  499 NSC
 processing  338  of:  499 NTAP
 processing  339  of:  499 NTRS
 processing  340  of:  499 NUE
 processing  341  of:  499 NVDA
 processing  342  of:  499 NWL
 processing  343  of:  499 NWSA
 processing  344  of:  499 NWS
 processing  345  of:  499 OKE
 processing  346  of:  499 OMC
 processing  347  of:  499 ORCL
 processing  348  of:  499 ORLY
 processing  349  of:  499 OXY
 processing  350  of:  499 O
 processing  351  of:  499 PAYX
 processing  352  of:  499 PBCT
 processing  353  of:  499 PCAR
 processing  354  of:  499 PCG
 processing  355  of:  499 PCLN
 processing  356  of:  499 PDCO
 processing  357  of:  499 PEG
 processing  358  of:  499 PEP
 processing  359  of:  499 PFE
 processing  360  of:  499 PFG
 processing  361  of:  499 PGR
 processing  362  of:  499 PG
 processing  363  of:  499 PHM
 processing  364  of:  499 PH
 processing  365  of:  499 PKG
 processing  366  of:  499 PKI
 processing  367  of:  499 PLD
 processing  368  of:  499 PM
 processing  369  of:  499 PNC
 processing  370  of:  499 PNR
 processing  371  of:  499 PNW
 processing  372  of:  499 PPG
 processing  373  of:  499 PPL
 processing  374  of:  499 PRGO
 processing  375  of:  499 PRU
 processing  376  of:  499 PSA
 processing  377  of:  499 PSX
 processing  378  of:  499 PVH
 processing  379  of:  499 PWR
 processing  380  of:  499 PXD
 processing  381  of:  499 PX
 processing  382  of:  499 PYPL
 processing  383  of:  499 QCOM
 processing  384  of:  499 QRVO
 processing  385  of:  499 RCL
 processing  386  of:  499 REGN
 processing  387  of:  499 REG
 processing  388  of:  499 RE
 processing  389  of:  499 RF
 processing  390  of:  499 RHI
 processing  391  of:  499 RHT
 processing  392  of:  499 RJF
 processing  393  of:  499 RL
 processing  394  of:  499 RMD
 processing  395  of:  499 ROK
 processing  396  of:  499 ROP
 processing  397  of:  499 ROST
 processing  398  of:  499 RRC
 processing  399  of:  499 RSG
 processing  400  of:  499 RTN
 processing  401  of:  499 SBAC
 processing  402  of:  499 SBUX
 processing  403  of:  499 SCG
 processing  404  of:  499 SCHW
 processing  405  of:  499 SEE
 processing  406  of:  499 SHW
 processing  407  of:  499 SIG
 processing  408  of:  499 SJM
 processing  409  of:  499 SLB
 processing  410  of:  499 SLG
 processing  411  of:  499 SNA
 processing  412  of:  499 SNI
 processing  413  of:  499 SNPS
 processing  414  of:  499 SO
 processing  415  of:  499 SPGI
 processing  416  of:  499 SPG
 processing  417  of:  499 SRCL
 processing  418  of:  499 SRE
 processing  419  of:  499 STI
 processing  420  of:  499 STT
 processing  421  of:  499 STX
 processing  422  of:  499 STZ
 processing  423  of:  499 SWKS
 processing  424  of:  499 SWK
 processing  425  of:  499 SYF
 processing  426  of:  499 SYK
 processing  427  of:  499 SYMC
 processing  428  of:  499 SYY
 processing  429  of:  499 TAP
 processing  430  of:  499 TDG
 processing  431  of:  499 TEL
 processing  432  of:  499 TGT
 processing  433  of:  499 TIF
 processing  434  of:  499 TJX
 processing  435  of:  499 TMK
 processing  436  of:  499 TMO
 processing  437  of:  499 TPR
 processing  438  of:  499 TRIP
 processing  439  of:  499 TROW
 processing  440  of:  499 TRV
 processing  441  of:  499 TSCO
 processing  442  of:  499 TSN
 processing  443  of:  499 TSS
 processing  444  of:  499 TWX
 processing  445  of:  499 TXN
 processing  446  of:  499 TXT
 processing  447  of:  499 T
 processing  448  of:  499 UAA
 processing  449  of:  499 UAL
 processing  450  of:  499 UA
 processing  451  of:  499 UDR
 processing  452  of:  499 UHS
 processing  453  of:  499 ULTA
 processing  454  of:  499 UNH
 processing  455  of:  499 UNM
 processing  456  of:  499 UNP
 processing  457  of:  499 UPS
 processing  458  of:  499 URI
 processing  459  of:  499 USB
 processing  460  of:  499 UTX
 processing  461  of:  499 VAR
 processing  462  of:  499 VFC
 processing  463  of:  499 VIAB
 processing  464  of:  499 VLO
 processing  465  of:  499 VMC
 processing  466  of:  499 VNO
 processing  467  of:  499 VRSK
 processing  468  of:  499 VRSN
 processing  469  of:  499 VRTX
 processing  470  of:  499 VTR
 processing  471  of:  499 VZ
 processing  472  of:  499 V
 processing  473  of:  499 WAT
 processing  474  of:  499 WBA
 processing  475  of:  499 WDC
 processing  476  of:  499 WEC
 processing  477  of:  499 WFC
 processing  478  of:  499 WHR
 processing  479  of:  499 WLTW
 processing  480  of:  499 WMB
 processing  481  of:  499 WMT
 processing  482  of:  499 WM
 processing  483  of:  499 WRK
 processing  484  of:  499 WU
 processing  485  of:  499 WYNN
 processing  486  of:  499 WYN
 processing  487  of:  499 WY
 processing  488  of:  499 XEC
 processing  489  of:  499 XEL
 processing  490  of:  499 XLNX
 processing  491  of:  499 XL
 processing  492  of:  499 XOM
 processing  493  of:  499 XRAY
 processing  494  of:  499 XRX
 processing  495  of:  499 XYL
 processing  496  of:  499 YUM
 processing  497  of:  499 ZBH
 processing  498  of:  499 ZION
 processing  499  of:  499 ZTS

In [19]:
df_volatility

   stock       date  close      vol3      vol7     vol15     vol30
0    ZTS 2017-12-29  72.04  4.424801  4.348693  4.311820  4.288958
0    ZTS 2017-12-28  72.39  4.424573  4.349657  4.310837  4.287938
0    ZTS 2017-12-27  72.45  4.424160  4.348882  4.309470  4.286324
0    ZTS 2017-12-26  72.34  4.425013  4.347644  4.308182  4.284778
0    ZTS 2017-12-22  71.99  4.426724  4.347835  4.308270  4.283528
..   ...        ...    ...       ...       ...       ...       ...
0    AAL 2017-01-09  47.08  3.982243  3.910615  3.896242  3.874654
0    AAL 2017-01-06  46.21  3.978292  3.914955  3.897592  3.874223
0    AAL 2017-01-05  45.89  3.981407  3.921501  3.900233  3.874648
0    AAL 2017-01-04  46.70  3.988150  3.928339  3.901909  3.874351
0    AAL 2017-01-03  46.30  3.993688  3.935951  3.906089  3.874118

[125249 rows x 7 columns]

In [20]:
# Reverse the df
df_volatility = df_volatility[::-1]
# Reindex for better data access
df_volatility.index = np.arange(1, len(df_volatility) + 1)
df_volatility

       stock       date  close      vol3      vol7     vol15     vol30
1        AAL 2017-01-03  46.30  3.993688  3.935951  3.906089  3.874118
2        AAL 2017-01-04  46.70  3.988150  3.928339  3.901909  3.874351
3        AAL 2017-01-05  45.89  3.981407  3.921501  3.900233  3.874648
4        AAL 2017-01-06  46.21  3.978292  3.914955  3.897592  3.874223
5        AAL 2017-01-09  47.08  3.982243  3.910615  3.896242  3.874654
...      ...        ...    ...       ...       ...       ...       ...
125245   ZTS 2017-12-22  71.99  4.426724  4.347835  4.308270  4.283528
125246   ZTS 2017-12-26  72.34  4.425013  4.347644  4.308182  4.284778
125247   ZTS 2017-12-27  72.45  4.424160  4.348882  4.309470  4.286324
125248   ZTS 2017-12-28  72.39  4.424573  4.349657  4.310837  4.287938
125249   ZTS 2017-12-29  72.04  4.424801  4.348693  4.311820  4.288958

[125249 rows x 7 columns]

In [21]:
# Write the output volatility to a csv file
df_volatility.to_csv('volatility.txt', sep='\t', encoding='utf-8', index = False)

In [23]:
df_volatility['stock'].unique().shape[0]

499